{% extends "app/layout.html" %}

{% block content %}

<h2>EDAB | Environmental Decision Analytics Branch.</h2>
<h3><a href="https://intranet.ord.epa.gov/ceser">US EPA Office of Research and Development CESER | Center for Environmental Solutions & Emergency Response</a></h3>

<address>
    LRTD | Land Remediation & Technology Division https://intranet.ord.epa.gov/ceser/land-remediation-technology-division<br />
    26 W. Martin Luther King Dr. (ML-CHL) Cincinnati, OH 45268-3001<br />
    <abbr title="Phone">P:</abbr>
    513.569.7400
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:young.daniel@epa.gov">Website Support</a><br />
    <strong>Management:</strong> <a href="mailto:gonzalez.michael@epa.gov">EPA Manager</a>
</address>

{% endblock %}
