{% extends "app/layout.html" %}

{% block content %}

<h2><a href="https://intranet.ord.epa.gov/scientific-data-management">Scientific Data Management Plan <u>SDMP</u></a></h2>
<h3>Data Science Tool</h3>
<h4><b>Date 0/30/2019</b></h4>
<h5<b>General Information about the Research Effort</b></h5>
<h6><i>Research Effort Title: Strategies for the Characterization of Food Waste</i></h6>


 <dl>
  <dt><a href="mailto:young.daniel@epa.gov">Dr. Daniel L. Young</a></dt>
  <dd>- SHC.021 Product Lead</dd>
  <dt><a href="mailto:meyer.david@epa.gov">Dr. David Meyer, US EPA.</a></dt>
  <dd>- SHC.021 Output Lead</dd>
  <dt><a href="mailto:gonzalez.michael@epa.gov">Dr. Michael Gonzalez, US EPA.</a></dt>
  <dd>- Supervisor</dd>
  <dt><a href="mailto:jones.steven@epa.gov">Mr. Steven Jones</a></dt>
  <dd>- SDMP Manager</dd>
  <dt><a href="mailto:hoelle.jill@epa.gov">Ms. Jill Hoelle</a></dt>
  <dd>- QA Manage</dd>
</dl>

<h3>Related Planning Documents</h3>
 <ol>
  <li>Strategies for Characterization of Food Waste, QMP, K-LRTD-0032360-QM-1-0</li>
  <li>Strategies for Characterization of Food Waste, QAPP, Data, K-LRTD-0032360-QP-1-0</li>
  <li>Strategies for Characterization of Food Waste, QAPP, Sampling and Laboratoy Analysis, K-LRTD-0032360-QP-1-0</li>
</ol>

<h3>Research Effort Team Members</h3>
<p><a href="mailto:young.daniel@epa.gov">Dr. Daniel L. Young, US EPA.</a> Data Management: ORD OLEM team members will track publicly available existing data for Plastics Projects from articles,
    abstracts, books, book chapters, computer products, manuals, presentations, proceedings, reports, and scientific data sets. Findings to include
    attachments will be stored and retrievable in the Strategies for Characterization of Food Waste and Plastics Research database.</p>

<p><a href="mailto:jacob@gqc.com">Mr. Jacob Specht, Global Quality Corporation.</a> Software IV&V: Perform software IV&V on LRTD developed Open Source Software (OSS). Includes a systems engineering process
    employing rigorous methodologies for evaluating the correctness and quality of the software product throughout the SDLC. Software IV&V is adapted
    to the characteristics of each project as described in the approved QAPP and/or software planning document.</p>


{% endblock %}