{% extends "main/base.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Data Science Tool</h2>
    <p class="lead">Laboratory analysis and results will be entered into this Data Science Tool with 'Existing Data and Information Search Tool.'</p>
    <a href="https://plasticsprojects.epa.gov/" class="btn btn-primary btn-large">Existing Data Tool &raquo;</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Interdependencies</h3>
        <p>
            <div>This work is related to additional food waste research under <b>SHC RA7</b>, including life cycle analyses of various approaches to managing food waste.</div>
            <div>The findings of <b>Product 4.2</b> will inform this product: Food Waste State of the Science Report.</div>
            <div><a href="https://plasticsprojects.epa.gov/">Existing Data and Information Search Tool</a></div>
        </p>
    </div>
    <div class="col-md-4">
        <h3>Software IV&V</h3>
        <p>Software IV&V on LRTD developed Open Source Software (OSS). Includes a systems engineering process employing rigorous methodologies
        for evaluating the correctness and quality of the software product throughout the SDLC. Software IV&V is adapted to the characteristics
        of each project as described in the approved QAPP and/or software planning document.</p>
    </div>
        <div class="col-md-4">
        <h3>Data Management</h3>
        <p>
            ORD OLEM team members will track publicly available existing data for Plastics Projects from articles, abstracts, books,
            book chapters, computer products, manuals, presentations, proceedings, reports, and scientific data sets. Findings to include
            attachments will be stored and retrievable in the Strategies for Characterization of Food Waste and Plastics Research database.
            'Existing Data and Information Search Tool' will be used to store all existing data research.
        </p>
    </div>
</div>

{% endblock %}
