{% extends "main/base.html" %}

{% block content %}

<h2>Data Visualization by State</h2>

<h4>Select a State and Datum Header to map:</h4>
<div class="row">
    <form name="dataVisualizationForm" id="dataVisualizationForm" method="POST" >
            {% csrf_token %}
            <select class="col-sm-5 form-control m-2" id="stateSelect">
            {% for state in states %}
            <option value="{{state}}">{{state}}</option>
            {% endfor %}
        </select>
        <select class="col-sm-5 form-control m-2" id="datumSelect">
            {% for col in columns %}
            <option value="{{col}}">{{col}}</option>
            {% endfor %}
        </select>
        <button class="btn btn-md btn-secondary m-2" value="submit">Generate Map</button>
    </form>
</div>
{% endblock %}
