{% extends "main/base.html" %}

{% block content %}

<h1>Evaluating de-packaging technologies.</h1>
<p>This project will test the performance of food de-packaging equipment available on the market in real-world settings.
Contamination of food waste with packaging (including film plastics) may complicate composting and anaerobic digestion
operations and decrease the market desirability and safety of land application of the compost and digestate. Research
efforts will characterize plastics in food waste streams after the use of de-packaging technologies.</p>

<h2>FOOD WASTE DEPACKAGING</h2>

<h3>Sampling Methods</h3>
<p>Locate or Develop EPA method ‘Sampling Food Waste for Micro-plastics.’</p>

<h3>Detection Methods</h3>
<h4>MP (microplastics analysis) Analysis</h4>
 <ul>
  <li>Fourier Transform Infrared Spectroscopy (FTIR): Center Hill</li>
  <li>Raman Spectroscopy: Instrument at UC’s Chemistry department</li>
  <li>Near-Infrared (NIR):</li>
  <li>Ultraviolet–visible spectroscopy (UV-vis): AWBERC, T&E and Center Hill</li>
</ul>

<h4>Characterization and Quantification</h4>
<p>?????</p>

<h4>Potential EPA Regional Support</h4>
 <ol>
  <li>R6 Houston, TX: LC Miner, Region 6 Lab Houston, TX, 10 Jun 2020. (281) 983-2116. </li>
  <li>R10 Seattle, WA: Sean Sheldrake, Region 10, Seattle, WA. (206) 553-1220.</li>
  <li>R9 San Francisco, CA: Anna-Marie Cook, ORD-CESER-TSCD (415) 972-3029.</li>
</ol>

<div class="row">
<div class="column"></div>
<h3>RMEERS Support -- Task Order FY 2021-22</h3>
<p><b>Sampling Events:</b> Two sampling events per site, three sites per location, up to ten sites across continental United States.
RMEERS contractor will contact and coordinate sites for sampling (Restaurants, Residential, Commercial, Business).</p>
<h4>Possible Sampling Sites</h4>
 <ul>
  <li>Cincinnati, OH</li>
  <li>Houston, TX</li>
  <li>Dallas, TX</li>
  <li>San Francisco, CA</li>
  <li>Seattle, WA</li>
  <li>Ada, OK</li>
  <li>Miami, OH</li>
  <li>Gainesville, FL</li>
  <li>Rhode Island</li>
</ul>
  <div class="column"></div>

</div> 
{% endblock %}
