{% extends "main/base.html" %}

{% block content %}

<h2>USEEIO FoodWaste.</h2>
<h3>Evaluating de-packaging technologies.</h3>

<p>This project will test the performance of food de-packaging equipment available on the market in real-world settings.
Contamination of food waste with packaging (including film plastics) may complicate composting and anaerobic digestion
operations and decrease the market desirability and safety of land application of the compost and digestate. Research
efforts will characterize plastics in food waste streams after the use of de-packaging technologies.</p>

{% endblock %}
